body#site{ 
    text-align: center;
   background-image:linear-gradient(100deg, #67cadb,#0dd8bd);
   max-width: 100%;
   height: 100vh;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tela-esquerda{
    height: 100vh;
}
body#login{ 
    text-align: center;
   background-image:linear-gradient(100deg, #67cadb,#0dd8bd);
   max-width: 100%;
}
.pag-inicial{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.botões {
    text-align: center;
    display: flex;
    display: inline-flex;
    margin-bottom: 20px;
    text-decoration: none;
    margin-bottom: 20%;
    padding: 10px;
    border-radius: 20px;
}
.botões a:hover {
   background-color: rgb(117, 255, 214);
}
.botões a{
    text-decoration: none;
    color: azure;
    background-color: #041613;
    border-radius: 12%;
    margin-bottom: 20%;
    padding: 10px;
}
.img1 img{
    width: 25%;
}
.botões2 a{
    text-decoration: none;
    color: azure;
    border-radius: 12%;
    margin-bottom: 20%;
    padding: 10px;
}
.botões2 a :hover {
    background-color:rgb(117, 255, 214);
    
}

.img2 img {
  width: 30%;  
}