body { 
    text-align: center;
   background-image:linear-gradient(100deg, #67cadb,#0dd8bd);
   max-width: 100%;
}
.pag-inicial{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bot천es {
    text-align: center;
    display: flex;
    display: inline-flex;
    margin-bottom: 20px;
    text-decoration: none;
    margin-bottom: 20%;
    padding: 10px;
    border-radius: 20px;
}
.bot천es a:hover {
   background-color: rgb(117, 255, 214);
}
.bot천es a{
    text-decoration: none;
    color: azure;
    background-color: #041613;
    border-radius: 12%;
    margin-bottom: 20%;
    padding: 10px;
}
.img{
    width: 25%;
}
.bot천es2 a{
    text-decoration: none;
    color: azure;
    border-radius: 12%;
    margin-bottom: 20%;
    padding: 10px;
}