<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar conta</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="static/img/console.png" type="">
</head>
<body id="cadastrar">
    <div class="cad">
    <div class="login2"> 
        <div class="img2">
            <img src="static/img/img.png" alt="">
        </div>
        <h1>Criar conta</h1>
        <p><h2>e-mail</h2></p>
        <input type="text" placeholder="digite o e-mail">
        <p><h2>senha</h2></p>
        <input type="text" placeholder="digite a senha">
        <p><h2>confirmar senha</h2></p>
        <input type="text" placeholder="confirme a senha">
        <p><h2>ID online</h2></p>
        <input type="text" placeholder="Digite seu nickname">
        <div class="botões2">
            <a href="/post" class="entrar">Entrar</a>
        </div>
    </div>
    </div>
</body>
</html>
