<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="static/console.png" type="">
</head>
<body id="login">
    <div class="img2">
        <img src="static/img/console.png" alt="">
    </div>
    <div class="login"> 
        <h1>Login</h1>
        <p><h2>e-mail</h2></p>
        <input type="text"placeholder = "digite o e-mail">
        <p><h2>senha</h2></p>
        <input type="password" placeholder="digite a senha">
        <div class="botões2">
            <a href="/novidades" class="entrar2">Entrar</a>
        </div>
    </div>




</body>
</html>