<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="static/img/console.png" type="">
</head>
<body id="login">
    <div class="conteiner">
        <div class="login"> 
            <div class="img2">
                <img src="static/img/img.png" alt="Imagem">
            </div>
            <h1>Login</h1>
            <p><h2>e-mail</h2></p>
            <input type="password" placeholder="Digite o e-mail">
            <p><h2>senha</h2></p>
            <input type="password" placeholder="Digite a senha">
            <div class="botões2">
                <a href="/post" class="entrar2">Entrar</a>
            </div>
        </div>
    </div>
</body>
</html>

</html>