<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novidades</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="static/console.png" type="image/x-icon">
</head>

<body id="novidades">
    <div class="banner">
        <div class="menurapido">
        <ul class="menu-list">
            <li><a href="login.html">Login</a></li>
            <li><a href="cadastro.html">Criar conta</a></li>
            <li><a href="post.html">Fazer post</a></li>
        </ul>
        </div>
        <div class="img3">
            <img src="static/img/console.png" alt="Banner do Console">
        </div>
        <div class="novidades1">
            <h1>Novidades e Posts</h1>
        </div>
        <div class="margem1"></div>
    </div>
    <h2>Jogos de simulação</h2>
    <div class="img6">
        <a href="simulação.html"><img src="simulação.png" alt=""></a>
    </div>
    <div class="lista">
        <div class="img4">
            <h2>Jogos FPS</h2>
           <a href="FPS.html"> <img src="static/img/alvo.png" alt="Imagem de Jogos FPS"></a>
        </div>
        <div class="img5">
            <h2>Jogos RPG</h2>
           <a href="RPG.html"><img src="static/img/ataque.png" alt="Imagem de Jogos RPG"></a>
        </div>
    </div>
   
  
    </body>
    </html>
    

</body>

</html>



</body>

</html>