<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pag-inicial</title>
    <link rel="shortcut icon" href="static/console.png" type="">
</head>
<body id="site">
    <div class = "img1">
        <img src="static/img/console.png" alt="">
        <div>
    <div class="pag-inicial">
    <h1>Bem vindo</h1>
        <div class="botões">
       <h2> <a href="login.html">login</a>
        <a href="cadastro.html">criar conta</a>
        </h2>
        </div>
    </div>

</body>
</html>