<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pag-inicial</title>
    <link rel="shortcut icon" href="static/img/console.png" type="">
</head>
<body id="site">
    <div class="antesm"></div>
    <div class="margem">
    <div class = "img1">
        <img src="static/img/img.png" alt="">
        <div>
    <div class="pag-inicial">
        <div class="titulo"></div>
        
    </div>
    <div class="ao">
    
</div>
    <h2>GameWorld</h2>
        <div class="botões">
       <h3> <a href="/login">login</a>
        <a href="/cadastro">criar conta</a>
        </div>
        </h3>
        </div>
    
    </div>
</div>
</div>
</div>
</body>
</html>